.taglist {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--main-gray);
    box-shadow: 0 0 4px var(--main-black);
    border-radius: 4px;
    background-color: var(--main-grey);
}