.column {
  width: 300px;
}

.column-title {
  font-size: 24px;
  line-height: 36px;
}

.column-list {
  border: 1px solid var(--main-gray);
  box-shadow: 0 0 4px var(--main-black);
  border-radius: 4px;
  background-color: var(--main-grey);
  height: 50vh;
  padding: 6px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}


