.select {
  width: 150px;
  position: relative;
  background-color: var(--main-grey);
  border: 1px solid var(--main-gray);
}

.select-label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}

.select-value {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.44s ease;
}

.select-value--default {
  position: relative;
}

.select-value--default::after {
  content: "↓";
  position: absolute;
  color: var(--main-black);
  top: 11px;
  right: 5px;
}

.select-value:hover {
  background-color: var(--main-gray);
}

.disabled {
  pointer-events: none;
}
