.header {
  background-color: var(--main-green);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.header-logo {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}
