@import-normalize;

:root {
  --main-green: #1b8a3e;
  --main-red: #c10d0d;
  --main-blue: #3535e8;
  --main-gray: #e3e3e3;
  --main-grey: #f2f2f2;
  --main-black: #262626;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-grey);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: var(--main-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}
